USE [master]
GO
/****** Object:  Database [eps_la_nuestra_bd]    Script Date: 7/12/2026 6:08:56 AM ******/
CREATE DATABASE [eps_la_nuestra_bd]
GO
USE [eps_la_nuestra_bd]
GO

/****** Object:  Table [dbo].[Copago]    Script Date: 7/12/2026 6:08:56 AM ******/

CREATE TABLE [dbo].[Copago](
	[DocumentoPaciente] [nvarchar](16) NOT NULL,
	[ValorCopago] [int] NOT NULL,
 CONSTRAINT [PK_Copago] PRIMARY KEY CLUSTERED 
(
	[DocumentoPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO